@media only screen and (max-width: 768px) {
    #logo {
        width: 37%
    }
}

@media only screen and (min-width: 769px) {
    #logo {
        width: 13%
    }
}

@media only screen and (max-width: 768px) {
    #offcanvasDarkNavbar {
        width: 40%
    }
}

@media only screen and (min-width: 769px) {
    #offcanvasDarkNavbar {
        width: 20%
    }
}

@media only screen and (max-width: 768px) {
    #iconos {
        width: 15%
    }
}

@media only screen and (min-width: 769px) {
    #iconos {
        width: 7%
    }
}


h1 {
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Kanit', sans-serif;
}

h3 {
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

h4 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40;
}

p {
    text-align: center;
}

h5 {
    font-family: 'Kanit', sans-serif;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar a {
    color: white;


}


li {
    color: aliceblue;
}

.nav-item {
    color: white;
}

.texto-con-fondo-blanco {
    background-color: white;
    padding: 15px;
}